html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  /* background-color: hsl(200, 10%, 50%); */
  background-image: url(./assets/pattern-23.svg);
  background-repeat: repeat;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
}

.top-nav-bar {
  display: block;
  color: white;
  background: lightseagreen;
  /* border-radius: 10px; */
  padding: 0.5em;
}

.main {
  background: transparent;
  border-radius: 0.5em;
  /* width: 70%; */
  /* padding: 1em 1.5em; */
  height: 100vh;
}

/* 
.main>*+* {
  margin-top: 0;
  padding-top: 0;
  margin-left: 1.5em;
} */

.sidebar {
  background: white;
  color: black;
  border-radius: 0.5em;
  /* width: 30%; */
  padding: 0.5em 0 0.5em 0.5em;
  height: 100vh;
}

.flex {
  display: flex;
}

.main-container {
  width: 100vw;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.col {
  flex-flow: column;
}


.row {
  flex-flow: row;
}

.underlined {
  border-bottom: 1px solid lightgray;
}

.message-box {
  display: flex;
  border: 0.5px solid lightgrey;
  padding: 0.5em;
  border-radius: 1em;
  background-color: white;
  color: black;
  width: 60%;

}

.sidebarelement {
  background-color: white;
}

.left {
  width: 30%;
}

.right {
  width: 70%;

}

.preview {
  color: gray;
  font-size: 0.7rem;
  text-align: left;
}

.last-activity {
  color: gray;
  font-size: 0.7rem;
}

.user {
  font-size: 1rem;
  font-weight: bold;
}

/* .left-message {
  display: flex;
  justify-content: flex-start;
}

*/

.right-message {
  align-self: flex-end;

}

.chatbox {
  display: flex;
  flex-direction: column;
}

.time-sent {
  display: flex;
  justify-content: right;
  margin-bottom: 0;
  margin-right: 0;
}