@media only screen and (min-height: 570px) and (min-width: 601px) {
  :root {
    --esg-width: 23.875rem;
  }
}

@media only screen and (min-width: 601px) {
  :root {
    --right-column-width: 420px;
    --chat-input-size: 3.375rem;
    --chat-input-padding: 0.8125rem;
    --chat-input-inner-padding: 0.5rem;
  }
}

/* VARIABLES */

:root {
  --messageHasRead: rgb(32, 228, 32);
  --messageHasNotRead: rgb(167, 167, 167);
  --zeroBorderRadius: 0;
  --halfBorderRadius: 50%;
  --standartPadding: 0.5em;
  --biggerPadding: 1em;
  --zeroPadding: 0;
  --standartBorderRadius: 1em;
  --smallBorderRadius: 0.5em;
  --messages-container-width: 728px;
}

/* FONTS */
@font-face {
  font-family: tgico;
  src: url(src/assets/fonts/tgico.ttf?75kxnh) format('truetype'),
    url(src/assets/fonts/tgico.woff?75kxnh) format('woff'),
    url(src/assets/fonts/tgico.svg?75kxnh#tgico) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.tgico {
  font-family: tgico !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* || Overall settings */
html {
  box-sizing: border-box;
  margin: 0;
  padding: var(--zeroPadding);
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: var(--zeroPadding);
}

body {
  /* TODO ниже чтобы кошечки в качестве бекграунда. пока мешают */
  /* background-image: url(../images/pattern-23.svg); */
  background-image: linear-gradient(180deg, lightblue, pink);
  background-repeat: repeat;
  color: white;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  min-height: 100vh;
}

/* || Utilities */

.flex {
  display: flex;
}

.col {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
}

// || Login Form

.form-signin {
  width: 100%;
  margin: auto;
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-floating {
  // position: relative;
  width: 100%;

  > label {
    color: gray;
    // position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%; // allow textareas
    padding: 0.5em;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1 solid transparent; // Required for aligning label's text with the input as it affects inner box model
    transform-origin: 0 0;
    // @include transition($form-floating-transition);
  }

  > .form-control,
  > .form-control-plaintext {
    padding: 1em;
  }

  > .form-select {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.form-check-input {
  padding: 5em;
}

.form-check-label {
  padding: 0.5em;
}

.login-submit-button {
  // width: 50px;
  padding: 1em;
}

/* || Main Component */

.main-container {
  /* TORESEARCH почему не работает 100vw */
  margin: 0 auto;
  max-width: 1682px;
  width: 100%;
  height: 100vh;
  display: flex;

  .left {
    display: flex;
    flex-flow: column;
    flex-grow: 3;
    min-width: 100px;
    max-width: 350px;
    overflow: hidden;
    width: 100%;
  }

  .right {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }
}

/* || TopNavBar */
.top-nav-bar {
  display: flex;
  flex-flow: row;
  color: white;
  background: lightseagreen;
  width: 100%;
  padding: var(--standartPadding);
}

/* || SideNavBar */
.sidebar {
  display: flex;
  flex-flow: column;
  background: white;
  color: black;
  width: 100%;
  padding: var(--standartPadding);
  /* min-height: 100vh; */
  height: 100%;
}

/* Logo */
.logo {
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: var(--halfBorderRadius);
}

/* || SideNavBarElement */
.sidebarelement {
  cursor: pointer;
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  padding: var(--standartPadding);

  .preview-group {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: var(--zeroPadding) var(--standartPadding);
  }

  .status-group {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    /* justify-content: space-between; */
  }

  .user {
    font-size: 1rem;
    font-weight: bold;
    flex-grow: 1;
  }

  .last-activity {
    color: gray;
    font-size: 0.85rem;
    text-align: right;
  }

  .unread-messages {
    font-size: 0.9rem;
    text-align: right;
    color: var(--messageHasRead);
    padding-right: var(--standartPadding);
  }

  .preview {
    color: gray;
    font-size: 1rem;
    text-align: left;
  }
}

.selected {
  background-color: rgb(193, 193, 193);
  color: white;
  border-radius: var(--smallBorderRadius);
}

/* ChatBox */

.main-content {
  display: flex;
  flex-flow: column;
  background: transparent;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  // max-width: 600px;
  max-width: min(100% - 1rem, var(--messages-container-width) - 1.625rem);
}

.chatbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

/* || MessageBox */

.message-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: var(--standartBorderRadius);
  background-color: white;
  color: black;
  width: 60%;
  padding: var(--standartPadding);
  /* transform: translateY(1px) scaleX(1); */

  .message-status {
    display: flex;
    flex-flow: row;
    margin-bottom: 0;
    margin-right: 0;
    align-self: flex-end;
    font-size: 0.9rem;
    color: gray;
    pointer-events: none;
  }

  .time-sent {
    padding-right: var(--standartPadding);
  }

  .messageStatusNotRead {
    color: var(--messageHasNotRead);
  }

  .messageStatusRead {
    color: var(--messageHasRead);
  }
}

.left-message {
  align-items: flex-start;
}

.right-message {
  align-self: flex-end;
}

/* || Message Input Box */
.message-input-container {
  display: flex;
  width: 100%;
  padding-bottom: var(--standartPadding);
}

.message-input {
  width: 100%;
  // padding: var(--biggerPadding);
  padding: var(--biggerPadding);
  border: 1px solid lightgrey;
  border-radius: var(--standartBorderRadius);
}

.message-input-button {
  border-radius: var(---halfBorderRadius);
}

/* || MessageMenuButton */

.messageMenuButtonContainer {
  display: flex;
  flex-flow: column;
  position: fixed;
  z-index: 2;
  border: 1px solid lightgrey;
  border-radius: var(--standartBorderRadius);
  background-color: white;
  color: black;
  padding: var(--standartPadding);
  max-width: max-content;
}

.button-edit:hover {
  background-color: gray;
}

.button-delete:hover {
  background-color: gray;
}
