/* взято как пример для ключка в облаке сообщений https://ru.stackoverflow.com/questions/962325/%D0%9A%D0%B0%D0%BA-%D1%80%D0%B5%D0%B0%D0%BB%D0%B8%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-%D0%BE%D0%BA%D0%BD%D0%BE-%D1%87%D0%B0%D1%82%D0%B0-%D0%BD%D0%B0-css */


.cloud-message {
    float: left;
    background: silver;
    padding: 1em 1.5em;
    border-radius: 1em;
    position: relative;
    line-height: 1.5em;
}

.cloud-message::after,
.cloud-message::before {
    content: "";
    position: absolute;
    left: 100%;
    bottom: .5em;
    width: 1.8em;
    height: 1.8em;
    border: .5em solid white;
    border-radius: 50%;
    background: white;
}

.cloud-message::before {
    border-top: none;
    height: .9em;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: silver;
    border-color: silver;
    margin-left: -.9em;
}