/* || Overall settings */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/pattern-23.svg);
  background-repeat: repeat;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  min-height: 100vh;
}


/* || Main Component */

.main-container {
  /* TORESEARCH почему не работает 100vw */
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  display: flex;
  min-width: 100px;
  max-width: 350px;
  flex-grow: auto;
  overflow: hidden;
  width: 100%;
}

.right {
  display: flex;
  flex-grow: 3;
  width: 100%;
}



.top-nav-bar {
  display: block;
  color: white;
  background: lightseagreen;
  padding: 0.5em;
}


.main {
  background: transparent;
  height: 100vh;
}


.sidebar {
  background: white;
  color: black;
  /* border-radius: 0.5em; */
  padding: 0.5em 0 0.5em 0.5em;
  /* .было */
  /* margin-right: 0; */
  /* стало */
  /* margin-top: auto; */
  /* margin-bottom: 0; */
  /* align-items: stretch; */
  /* flex-grow: 1; */
  /* justify-content: space-around; */
  /* flex: 1; */
  /* flex-direction: row;
  align-items: stretch; */
  /* height: ; */

}

.flex {
  display: flex;
}


.logo {
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



.col {
  flex-flow: column;
}


.row {
  flex-flow: row;
}

.underlined {
  border-bottom: 1px solid lightgray;
}

.message-box {
  display: flex;
  flex-direction: column;
  border: 0.5px solid lightgrey;
  padding: 0.5em;
  border-radius: 1em;
  background-color: white;
  color: black;
  width: 60%;
  /* overflow: hidden; */
}

.sidebarelement {
  background-color: white;
  justify-content: space-between;
}


.preview {
  color: gray;
  font-size: 0.7rem;
  text-align: left;
}

.last-activity {
  color: gray;
  font-size: 0.7rem;
  text-align: right;
}

.unread-messages {
  text-align: right;
}

.preview-group {
  flex-grow: 2;

}

.user {
  font-size: 1rem;
  font-weight: bold;
}


.left-message {
  align-items: flex-start;
}

.right-message {
  align-self: flex-end;
}

.chatbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.time-sent {
  margin-bottom: 0;
  margin-right: 0;
  align-self: flex-end;
  font-size: 0.7rem;
  color: gray;
}

.sendbox {}