/* used in  */
html {
  box-sizing: border-box;
  margin: 0;
  pаdding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-image: url(../images/pattern-23.svg);
  background-repeat: repeat;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
}

.top-nav-bar {
  display: block;
  color: white;
  background: lightseagreen;
  padding: 0.5em;
}

.main {
  background: transparent;
  /* border-radius: 0.5em; */
  height: 100vh;
}


.sidebar {
  background: white;
  color: black;
  border-radius: 0.5em;
  padding: 0.5em 0 0.5em 0.5em;
  margin-right: 0;
  height: 100vh;
}

.flex {
  display: flex;
}

.main-container {
  width: 100vw;
}

.logo {
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



.col {
  flex-flow: column;
}


.row {
  flex-flow: row;
}

.underlined {
  border-bottom: 1px solid lightgray;
}

.message-box {
  display: flex;
  flex-direction: column;
  border: 0.5px solid lightgrey;
  padding: 0.5em;
  border-radius: 1em;
  background-color: white;
  color: black;
  width: 60%;

}

.sidebarelement {
  background-color: white;
  justify-content: space-between;
}

.left {
  width: 30%;
}

.right {
  width: 70%;

}

.preview {
  color: gray;
  font-size: 0.7rem;
  text-align: left;
}

.last-activity {
  color: gray;
  font-size: 0.7rem;
  text-align: right;
}

.unread-messages {
  text-align: right;
}

.preview-group {
  flex-grow: 2;

}

.user {
  font-size: 1rem;
  font-weight: bold;
}


.right-message {
  align-self: flex-end;
}

.chatbox {
  display: flex;
  flex-direction: column;
}

.time-sent {
  display: flex;
  justify-content: right;
  margin-bottom: 0;
  margin-right: 0;
  text-align: right;
  font-size: 0.7rem;
  color: gray;
}