/* VARIABLES */

@font-face {
  font-family: tgico;
  src: url(src/assets/fonts/tgico.ttf?75kxnh) format('truetype'),
    url(src/assets/fonts/tgico.woff?75kxnh) format('woff'),
    url(src/assets/fonts/tgico.svg?75kxnh#tgico) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.tgico {
  font-family: tgico !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --messageHasRead: rgb(32, 228, 32);
  --messageHasNotRead: rgb(167, 167, 167);
}

/* || Overall settings */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* TODO ниже чтобы кошечки в качестве бекграунда. пока мешают */
  /* background-image: url(../images/pattern-23.svg); */
  background-image: linear-gradient(180deg, lightblue, pink);
  background-repeat: repeat;
  color: white;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  min-height: 100vh;
}

/* || Utilities */

.flex {
  display: flex;
}

.col {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
}

/* || Main Component */

.main-container {
  /* TORESEARCH почему не работает 100vw */
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  display: flex;
  flex-flow: column;
  flex-grow: 3;
  min-width: 100px;
  max-width: 350px;
  overflow: hidden;
  width: 100%;
}

.right {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

/* || TopNavBar */
.top-nav-bar {
  display: flex;
  flex-flow: row;
  color: white;
  background: lightseagreen;
  width: 100%;
  padding: 0.5em;
}

/* || SideNavBar */
.sidebar {
  display: flex;
  flex-flow: column;
  background: white;
  color: black;
  width: 100%;
  padding: 0.5em;
  /* min-height: 100vh; */
  height: 100%;
}

/* Logo */
.logo {
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* || SideNavBarElement */
.sidebarelement {
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  padding: 0.5em;
}

.selected {
  background-color: gray;
  color: white;
}

.preview-group {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 0 0.5em;
}

.status-group {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  /* justify-content: space-between; */
}

.user {
  font-size: 1rem;
  font-weight: bold;
  flex-grow: 1;
}

.last-activity {
  color: gray;
  font-size: 0.85rem;
  text-align: right;
}

.unread-messages {
  font-size: 0.9rem;
  text-align: right;
  color: var(--messageHasRead);
  padding-right: 0.4em;
}

.preview {
  color: gray;
  font-size: 1rem;
  text-align: left;
}

/* ChatBox */

.main-content {
  display: flex;
  flex-flow: column;
  background: transparent;
  height: 100vh;
  width: 100%;
}

.chatbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

/* || MessageBox */

.message-box {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 1em;
  background-color: white;
  color: black;
  width: 60%;
  padding: 0.5em;
  /* transform: translateY(1px) scaleX(1); */
}

.left-message {
  align-items: flex-start;
}

.right-message {
  align-self: flex-end;
}

.message-status {
  display: flex;
  flex-flow: row;
  margin-bottom: 0;
  margin-right: 0;
  align-self: flex-end;
  font-size: 0.9rem;
  color: gray;
  pointer-events: none;
}

.time-sent {
  padding-right: 0.5em;
}

.messageStatusNotRead {
  color: var(--messageHasNotRead);
}

.messageStatusRead {
  color: var(--messageHasRead);
}

.sendbox {
  display: flex;
  width: 100%;
}

/* || MessageMenuButton */

.messageMenuButtonContainer {
  display: flex;
  flex-flow: column;
  position: fixed;
  z-index: 2;
  /* min-width: 1rem; */
  border: 1px solid lightgrey;
  border-radius: 1em;
  background-color: white;
  color: black;
  padding: 0.5em;
  max-width: max-content;
}

.button-edit:hover {
  background-color: gray;
}

.button-delete:hover {
  background-color: gray;
}
